<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.app.imfine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>im-fine</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp2b7369ae5aa04e868a2dccf5d133d1d8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.app.imfine</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>81130e95ea13cd7ed9a4f455e96214902c721c99</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADDelayAppMeasurementInit</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow im-fine to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>App need this permission to update profile photo.</string>
	<key>NSContactsUsageDescription</key>
	<string>App need this permission to send your case to your contacts if you in risk.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App need this permission to determine your location in danger case.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App need this permission to send voice record in your chat message.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow im-fine to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App need this permission to update profile photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App need this permission to update profile photo.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow im-fine to access your reminders</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
